* {
    box-sizing: none;
    padding: 0px;
    margin: 0px;
}

body {
    min-height: 100vh;
    height: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(0, 144, 255, 1) 100%
    );
}
.apresentation {
    position: relative;
}
.apresentation h1 {
    position: absolute;
    font-size: 52px;
    max-width: 1000px;
    width: 100%;
    letter-spacing: 5px;

    top: 250px;
    left: 150px;
}
.apresentation h1 span {
    text-shadow: 0 0 10px #fff;
}
